.form {
  &__item {
    border: 1px solid $grey-3;
    border-radius: .25rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: .5em .75em;
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: .5rem;
  }

  &__output {
    display: block;
    margin-bottom: 1rem;
  }

  &__button {
    text-align: right;
  }
}
