*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
}

main {
  margin-bottom: 6rem;
  margin-top: 7rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2%;
}

.container--small {
  margin: 0 auto;
  max-width: 600px;
}

.grid {
  display: grid;
  grid-gap: 0 2%;
  grid-template-columns: repeat(auto-fit, 32%);
}

.grid__item {
  margin-bottom: 2rem;
}

.navbar {
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  left: 0;
  padding: 2%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.navbar__brand {
  color: inherit;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar__brand:visited {
  color: inherit;
}

.navbar__brand:hover {
  opacity: 0.6;
}

.navbar__menu {
  align-items: center;
  display: flex;
}

.navbar__item {
  margin-left: 1rem;
}

.photo {
  position: relative;
}

.photo:hover .photo__overlay {
  visibility: visible;
}

.photo:nth-child(4n+1) .photo__wrapper {
  background: #DBBCD5;
}

.photo:nth-child(4n+2) .photo__wrapper {
  background: #DBDBBC;
}

.photo:nth-child(4n+3) .photo__wrapper {
  background: #BCDBC8;
}

.photo:nth-child(4n) .photo__wrapper {
  background: #BCC8DB;
}

.photo__wrapper {
  overflow: hidden;
  padding-top: 75%;
  position: relative;
}

.photo__image {
  display: block;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.photo__image--landscape {
  max-height: 100%;
  max-width: none;
  opacity: 1;
}

.photo__image--portrait {
  max-width: 100%;
  opacity: 1;
}

.photo__overlay {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  cursor: zoom-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  visibility: hidden;
}

.photo__controls {
  text-align: right;
}

.photo__action {
  background: #fff;
  border: 0;
  border-radius: 0.25rem;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  margin-left: 0.25rem;
  opacity: 0.8;
  outline: none;
  padding: 0.5em 0.75em;
}

.photo__action:hover {
  opacity: 1;
}

.photo__action--like .icon {
  color: #e4406f;
  margin-right: 0.5em;
}

.photo__action--liked {
  background: #e4406f;
  color: #fff;
}

.photo__action--liked .icon {
  color: #fff;
}

.photo-detail {
  display: flex;
  justify-content: space-between;
}

.photo-detail--column {
  flex-direction: column;
}

.photo-detail--column .photo-detail__pane {
  width: 100%;
}

.photo-detail--column .photo-detail__image {
  cursor: zoom-out;
}

.photo-detail__pane {
  width: 49%;
}

.photo-detail__image {
  cursor: zoom-in;
  margin-bottom: 1.5rem;
}

.photo-detail__image figcaption {
  margin-top: 0.5rem;
}

.photo-detail__title {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.photo-detail__title .icon {
  margin-right: 0.5em;
}

.photo-detail__comments {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-detail__commentItem {
  border-bottom: 1px solid #dedede;
  margin-bottom: 1.5rem;
  padding: 0 0 1.5rem 0;
}

.photo-detail__commentBody {
  margin: 0 0 1rem 0;
}

.photo-detail__commentInfo {
  color: #8a8a8a;
  margin: 0;
}

.photo-form {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  max-height: 75vh;
  max-width: 600px;
  overflow: scroll;
  padding: 1.5rem;
  position: absolute;
  right: 2%;
  top: 3.5rem;
  width: 90%;
}

.button {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  color: #8a8a8a;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.button:hover {
  border-color: #333;
  color: inherit;
}

.button .icon {
  margin-right: 0.5em;
}

.button--link {
  border: 0;
}

.button--inverse {
  background: #222;
  border-color: #222;
  color: #fff;
  transition: opacity 300ms ease-in-out;
}

.button--inverse:hover {
  background: #222;
  color: #fff;
  opacity: 0.8;
}

.button--fluid {
  width: 100%;
}

.button--like .icon {
  color: #e4406f;
}

.button--liked {
  background: #e4406f;
  border-color: #e4406f;
  color: #fff;
}

.button--liked .icon {
  color: #fff;
}

.button--liked:hover {
  border-color: #e4406f;
  color: #fff;
  opacity: 0.8;
}

.form__item {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5em 0.75em;
  width: 100%;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
}

.form__output {
  display: block;
  margin-bottom: 1rem;
}

.form__button {
  text-align: right;
}

.tab {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab__item {
  border-bottom: 2px solid #dedede;
  color: #8a8a8a;
  cursor: pointer;
  margin: 0 1rem 0 0;
  padding: 1rem;
}

.tab__item--active {
  border-bottom: 2px solid #222;
  color: #222;
  font-weight: bold;
}

.footer {
  align-items: center;
  border-top: 1px solid #f1f1f1;
  display: flex;
  height: 5rem;
  justify-content: center;
}

.errors {
  border: 1px solid #c7004c;
  border-radius: 0.25rem;
  color: #c7004c;
  margin-bottom: 1rem;
}

.pagination {
  text-align: right;
}

.panel {
  border: 1px solid #dedede;
  margin-top: 1rem;
  padding: 1.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader__item--heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
}

.loader__item--heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #e4406f;
  -webkit-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__item--heart div:after,
.loader__item--heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #e4406f;
}

.loader__item--heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}

.loader__item--heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}

@-webkit-keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }

  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }

  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.message {
  background: #D7F9EE;
  border: 1px solid #41e2b2;
  border-radius: 0.25rem;
  color: #117355;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

